{% extends 'base_layout.html' %}
{% block content %}
    <h1 class="text-center">Article List</h1>
    <div class="row">
        {% for article in articles %}
        <div class="col-md-6 panel panel-default">
            <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h2>
            <p>Snippet: {{ article.snippet }}</p>
            <p>Posted: {{ article.date }}</p>
            <p>Author:{{ article.author.username }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}